/* ScrollingText.css */

/* Container for the scrolling text */
.scrolling-container {
  width: 100%;
  overflow: hidden; /* Hides the overflowing text to ensure only the container's area is visible */
  background-color: #fc602c; /* Background color */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The actual text block that scrolls */
.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 150s linear infinite ; /* Adjust speed as needed */
}

/* Styling for each text item */
.scrolling-text p {
  margin: 0 30px; /* Spacing between text items */
  font-size: 35px;
  color: white;
}

/* Keyframes for scrolling */
@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Start with the text at the beginning of the container */
  }
  /* 50% {
    transform: translateX(-50%); 
  } */
  100% {
    transform: translateX(-100%); /* End of scroll: all the way off the screen */
  }
}
